.coffee-inspector { /* Question: Is deze naamgeving oke? of het 'parent__coffee-inspector' moeten worden? */
    grid-row: 2 / span 3;
    grid-column: 1;
    width: 40rem;

    padding: 2rem;
}


.coffee-inspector__add {
    transition: padding 0.2s ease-in-out;
}
.coffee-inspector--idle .coffee-inspector__add{
    padding: 1rem;
}
.coffee-inspector--creating .coffee-inspector__add{
    padding: 1.5rem; /* Test if transition work between state updates */
}

