.daily-caffeine{
    padding-left: 2rem;
}

.daily-caffeine__container__bar {
    display: grid;
    overflow: hidden;
    height: 1.65rem;
}

.bar__limit {
    height: 100%;
    border-right: 1px solid red;
}

.bar__outline, .bar__fill, .bar__limit {
    grid-row: 1;
    grid-column: 1;
}

.bar__outline {
    border: 1px solid black;
}

.bar__fill {
    background-color: gray;
    transition: width 0.5s ease-in-out;
}

.bar__marks {
    height: 2rem;
    position: relative;
    margin-bottom: 0.2rem;
}

.bar__marks__mark, .bar__marks__mark--big {
    position: absolute;
    border-right: 1px solid black;
    height: 0.3rem;
    bottom: 0px;
}

.bar__marks__mark--big {
    position: absolute;
    border-right-width: 1px;
    height: 0.5rem;
}


