body {
    background-color: var(--color-background);
}

.app {
    margin: 0 auto;
    max-width: 1300px;
    min-width: 1125px;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main {
    flex: 1;
}

.footer {
    margin-top: auto;
    height: 2rem;
}