@import './../vars.css'; 

.card {
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    padding: 1rem; /* Change */
    
    background-color: var(--colorLight);
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 9px 15px 1px rgba(0,0,0,0.15); 
    box-shadow: 0px 9px 15px 1px rgba(0,0,0,0.15);
}

/* ________________________________________________________________________  Top */

.cardTop {
    display: flex;
}

.cardTopFrame{
    background-color: var(--colorRegular);
    border-radius: 3rem 3rem 0 0;
    padding: 1.15rem 0.22rem 0.1rem;

}

.cardTopFrame > img {
    width: 2.5rem;
    height: auto;
}

.cardTopMoment > p {
    margin: 0;
}

/* ________________________________________________________________________  Middle */
.cardMiddleTable {
    display: grid;
    grid-template-columns: 6rem 4rem 3rem;
}

/* ________________________________________________________________________  Bottom */

.cardBottom {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
