.card {
    composes: mainShadow from 'shadows.module.css';
    display: grid;
    grid-template: min-content min-content min-content / 1fr;
    row-gap: 1rem;
    padding: 1rem; /* Change */
    background-color: var(--color-secondary);
    height: 100%;
}

/* ________________________________________________________________________  Top */

.cardTop {
    display: flex;
}

.cardTopFrame{
    /* composes: detailShadow from 'shadows.module.css'; */
    margin-right: 1rem;
    background-color: var(--color-background);
    border-radius: 3rem 3rem 0 0;
    padding: 1.5rem 0.45rem 0.8rem;
    color: var(--color-primary);
}

.cardTopFrameIcon {
    composes: svgPrimary from 'color.module.css';
    width: 1.8rem;
    height: auto;
}

.cardTopMoment > p {
    margin: 0;
}

.cardTopMomentTitle {
    composes: titleDisplay from 'typo.module.css';
}

.cardTopMomentTime {
    composes: primaryText from 'typo.module.css';
}

/* ________________________________________________________________________  Middle */
.cardMiddleTable {
    display: grid;
    grid-template-columns: 6rem 4rem 1fr;
}

/* Fake select box */
.selectWrapper {
    composes: detailShadow from 'shadows.module.css';
    position: relative;
    display: flex;
    border-radius: 0.4rem;
    background-color: var(--color-background);
    margin-bottom: 1rem;
}

/* Select decoration */
.selectWrapper::after {
    content: '\205D';
    
    position: absolute;
    top: 3px;
    right: 0;
    width: 1.4rem;

    font-size: 1.4rem;
    color: var(--color-primary);
    pointer-events: none;
}

/* Real select element */
.select {
    composes: title from 'typo.module.css';
    font-size: var(--font-regular);
    padding: 0.3rem 1rem 0.5rem;
    margin: 0;
    flex-grow: 1;
    appearance: none;
    background-color: transparent;
    border: none;
    position: relative;
    /* border-bottom: 1px solid var(--color-primary); */
}

.option {
}

.tableButtons {
    display: flex;
    justify-content: flex-start;
    gap: var(--spacer-small);
}

.button {
    composes: styleRegular from 'buttons.module.css';
    composes: sizeSmall from 'buttons.module.css';
}

.button:hover {
    /* Question: Hoe kunnen we :hover met composes gebruiken? */
    /* voor context: https://github.com/css-modules/css-modules/issues/80 */
    background-color: var(--color-primary);
    color: var(--color-background);
}

.buttonReset {
    composes: styleAccent from 'buttons.module.css';
    composes: sizeSmall from 'buttons.module.css';
}

.buttonReset:hover {
    background-color: var(--button-style-accent-hover-bc);
    color: var(--button-style-accent-hover-c);
}

/* ________________________________________________________________________  Bottom */

.cardBottom {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: var(--spacer-small);
}

.cardBottomButton {
    composes: styleRegular from 'buttons.module.css';
    composes: sizeRegular from 'buttons.module.css';
}

.cardBottomButton:hover {
    background-color: var(--button-style-regular-hover-bc);
    color: var(--button-style-regular-hover-c);
}
