.graph {
    composes: mainShadowInset from 'shadows.module.css';
    background-color: var(--color-secondary);
    position: relative;
    height: 20rem;

    --border-radius: 2.5rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.coffee {
    position: absolute;
    bottom: 20px;
    width: 3rem;
    height: 3rem;
    background-color: hotpink;
    border-radius: 100% 100% 100% 0;
    transform: rotate(-45deg);
}