.mark {
    height: 0.9rem;
    background-color: var(--color-primary);
    width: 1px;
    position: absolute;
}

.bigMark {
    composes: mark;
    height: 1.4rem;
    width: 2px;
    transform: translateX(-0.5px);
}

.markLabel {
    position: relative;
    top: 100%;
    white-space: nowrap;
    left: -0.9em; /* depends on font !! */
    font-size: var(--font-small);
}

.frame {
    position: relative;
    height: 5rem;
    padding-top: 0.3rem;
    overflow: hidden;
}

.scrollable {
    position: absolute;
}