.home {
    flex: 1 1 auto;
}

.inspectors {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-top: 2rem;
    gap: var(--spacer-big);
}

.inspectorBars {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: var(--spacer-big);
}