.home {
    flex: 1 1 auto;
}

.inspectors {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-top: var(--spacer-regular);
    gap: var(--spacer-big);
}

.inspectorBars {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    gap: var(--spacer-regular);
}