a { 
    text-decoration: none;
}

.unstyledList {
    list-style-type: none;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

.header {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    gap: 0.65rem;
}

.headerAccent {
    font-size: 0.75rem;
}