:local(:root) {
    --transition-duration-regular: 125ms;
    --transition-duration-slow: 250ms;
    
    --transition-func-regular: ease-in-out;

    --transition-delay-regular: 0ms;
}

.transitionRegular {
    transition-duration: var(--transition-duration-regular);
    transition-timing-function: var(--transition-func-regular);
    transition-delay: var(--transition-delay-regular);
}

.transitionSlow {
    transition-duration: var(--transition-duration-slow);
    transition-timing-function: var(--transition-func-regular);
    transition-delay: var(--transition-delay-regular);
}