@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap);
@import url(https://use.typekit.net/kjt2ozj.css);

:global(:root) {
  --font-small: .75rem; 
  --font-regular: 1.13rem; 
  --font-medium: 2rem; 
  --font-big: 3.25rem;
  --font-condensed: 'Oswald', sans-serif;
  --font-sans-serif: 'Segoe UI', Arial, sans-serif;
  --font-display: 'masqualero', serif; 
}

body {
    font-family: var(--font-condensed);
    color: var(--color-primary);
    font-weight: 200;
}

.primaryText { 
    color: var(--color-primary);
    font-size: var(--font-regular);
    font-family: var(--font-sans-serif);
    margin: 0.3rem 0 0;
    font-weight: 200;
}

.title {
    color: var(--color-primary);
    font-family: var(--font-condensed);
    font-size: var(--font-medium);
    text-transform: uppercase;
    font-weight: normal;
}

.subTitle {
    composes: title;
    font-size: var(--font-regular);
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.display {
    font-family: var(--font-display);
    letter-spacing: 1px;
}

.titleDisplay { 
    composes: title;
    composes: display;
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-regular);
}

.head {
    text-transform: uppercase;
    font-weight: 200;
    font-family: var(--font-display);
    font-size: var(--font-big);
    
}