.container {
    display: block;
    height: 4.3rem;
    width: 2.75rem;
    border: 1px solid var(--color-primary);
    position: relative;

    overflow: hidden;
}

.background {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.background::after {
    content: '';
    display: block;
    height: 2rem;
    background-color: var(--color-primary);
    opacity: 1;
    width: 100%;
    opacity: 0.3;

    transition: height 150ms ease-out;
}

.focused .background::after {
    height: 100%;
}

.contentWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    height: 100%;
    
    transition: gap 300ms ease-out;
    transition-delay: 200ms;
}

.focused .content {
    gap: 2rem;
}

.contentNumber {
    font-size: 1rem;
    color: var(--color-primary);
    opacity: 0.5
}

.contentInput {
    color: var(--color-primary);
    outline-width: 0;   /* Disable blue outline on chrome on focus */
    border: none;
    background-color: transparent;

    text-align: center;
    
    width: 100%;
    
    font-size: 1.8rem;
    font-weight: bold;

    transition: font-size 120ms ease-in-out;
    transition-delay: 150ms;
}

.contentInput::placeholder {
    color: var(--color-primary);
    opacity: 0.3;
}

.focused .contentInput {
    font-size: 2.1rem;
}
